@layer states {
    .button:is(:not(:disabled)) {
        background-color: var(--bg-button-submit-hover);
    }

    .button:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    .button:focus-visible {
        outline: 0.1875em solid var(--outline-rating-option-focus);
        outline-offset: 0.25em;
    }
}