@layer states {
    .rating-input:checked + .rating-option--visual {
        background-color: var(--bg-rating-option-checked);
        color: var(--fc-text-rating-option-effect);
    }

    .rating-input:hover:not(:checked) + .rating-option--visual {
        background-color: var(--bg-rating-option-hover);
        color: var(--fc-text-rating-option-effect);
    }

    .rating-input:focus-visible + .rating-option--visual {
        outline: 0.125em solid var(--outline-rating-option-focus);
        outline-offset: 0.125em;
    }
}