@layer states {
    .is-hidden {
        opacity: 0;
        transform: translateY(1rem) scale(0.95);
        pointer-events: none;
    }

    .is-visible {
        opacity: 1;
        transform: translateY(0) scale(1);

        pointer-events: auto;
    }
}