@layer tokens {
    :root {
        --base: 16;

        --spacing-0: 0;
        --spacing-100: calc( 8 / var(--base) * 1rem );
        --spacing-200: calc( 16 / var(--base) * 1rem );
        --spacing-300: calc( 24 / var(--base) * 1rem );
        --spacing-400: calc( 32 / var(--base) * 1rem );
        --spacing-500: calc( 40 / var(--base) * 1rem );
        --spacing-1300: calc( 104 / var(--base) * 1rem );
        --spacing-1700: calc( 136 / var(--base) * 1rem );
    }
}